.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0px 48px 142px;
    
    form {
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
        padding: 25px;
        background: white;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        border-radius: 15px;

        input, select, file, textarea {
            width: 90%;
            padding: 12px 24px;
            margin-bottom: 15px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            background: white;
            font-weight: 500;
            font-size: 16px;
            color: #6b7280;
            outline: none;
        }

        input:focus {
            border-color: #6a64f1;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
          }

        label {
            display: block;
            font-weight: 500;
            font-size: 16px;
            color: #07074d;
            margin-top: 25px;
            margin-bottom: 8px;
        }
    }
    

    &__textarea-input textarea {
        resize: vertical;
    }

    &__select-input select {
        text-transform: none;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        box-sizing:content-box;
    }

    &__file-input {
        position: relative;
        
        input[type="file"] {
            position: absolute;
            font-size: 100px;
            top: 0;
            right: 0;
            opacity: 0;
            cursor: pointer;
        }
        
        label {
            display: inline-block;
            padding: 10px 15px;
            background-color: #6a64f1;
            color: white !important;
            border-radius: 5px;
            cursor: pointer;
        }

        span {
            margin-left: 10px;
        }
    }

    &__submit-button {
        text-align: center;
        font-size: 16px;
        border-radius: 6px;
        padding: 14px 32px;
        margin-top: 35px;
        border: none;
        font-weight: 600;
        background-color: #6a64f1;
        color: white;
        width: 100%;
        cursor: pointer;
      }
      &:hover {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
      }
}