.card {
    width: 200px;
    color: #090937;
    font-family: cursive;

    &__title > span {
        font-size: 20px;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__author > span {
        opacity: .6;
    }
}